<div class="about-us core-body-style body-padding">
  <div class="container">
    <!-- About Info -->
    <div class="row mb-5">
      <div class="col-lg-6 mb-4">
        <div class="about-us-info">
          <h2 class="section-heading text-end">من نحن</h2>
          <p>
            إيزي ماني هي شركة مصرية قام بتأسيسها بعض الشباب المصريين للمساعدة
            على تسهيل التجارة الإلكترونية في مصر ومنح الجميع فرصة للتجارة عبر
            الإنترنت عن طريق توفير سلع بسعر مناسب ومساعدتهم في إيصالها لعملائهم
            في أسرع وقت وأفضل جودة.
          </p>
          <div class="follow-us">
            <div class="social-info d-flex">
              <div class="social-link">
                <a class="face" target="_blank" href="{{ data?.faceBook }}">
                  <i class="fa fa-facebook-f"></i>
                </a>
              </div>
              <div class="social-link">
                <a class="twit" target="_blank" href="{{ data?.twitter }}">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <div class="social-link">
                <a class="inst" target="_blank" href="{{ data?.instagram }}">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
              <div class="social-link">
                <a class="yout" target="_blank" href="{{ data?.youtube }}">
                  <i class="fa fa-youtube-play"></i>
                </a>
              </div>

              <div class="social-link">
                <a
                  class="telegtam"
                  target="_blank"
                  href="https://t.me/SpikeFast"
                >
                  <i class="fa fa-telegram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-lg-flex col-lg-6">
        <div class="about-us-img">
          <img
            src="assets/images/logo.jpg"
            alt="logo bg"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="more-details">
    <div class="container">
      <!-- more info -->
      <div class="row pt-4">
        <div class="mb-5 mb-lg-0 col-lg-6">
          <div class="more-info">
            <h2 class="section-heading">مهمتنا</h2>

            <p>
              تهدف شركة ايزي موني لتسهيل التجارة الإلكترونية في مصر ومنح الجميع
              فرصة للتجارة عبر الإنترنت عن طريق توفير سلع بسعر مناسب ومساعدتهم
              في إيصالها لعملائهم في أسرع وقت وأفضل جودة.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bars">
            <h2 class="section-heading">انجازتنا</h2>
            <div class="bar">
              <span>زيادة في عدد منتجاتنا</span>

              <mat-progress-bar
                class="example-margin"
                mode="determinate"
                [value]="80"
              >
              </mat-progress-bar>
              <span>80%</span>
            </div>
            <div class="bar">
              <span>زيادة في عدد طلباتنا الناجحة</span>

              <mat-progress-bar
                class="example-margin"
                mode="determinate"
                [value]="70"
              >
              </mat-progress-bar>
              <span>70%</span>
            </div>
            <div class="bar">
              <span>نسبة طلباتنا الناجحة</span>

              <mat-progress-bar
                class="example-margin"
                mode="determinate"
                [value]="80"
              >
              </mat-progress-bar>
              <span>80%</span>
            </div>
            <!-- <div class="bar">
              <span></span>

              <mat-progress-bar
                class="example-margin"
                mode="determinate"
                [value]="90"
              >
              </mat-progress-bar>
              <span>90%</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
