<div class="add-requests py-5 section-styles">
  <div class="container">
    <h2 class="main-heading">اضافة منتج</h2>
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1">
                <img src="{{ apiRootImage }}{{ product?.image[0] }}" />
              </div>
              <div class="tab-pane" id="pic-2">
                <img src="http://placekitten.com/400/252" />
              </div>
              <div class="tab-pane" id="pic-3">
                <img src="http://placekitten.com/400/252" />
              </div>
              <div class="tab-pane" id="pic-4">
                <img src="http://placekitten.com/400/252" />
              </div>
              <div class="tab-pane" id="pic-5">
                <img src="http://placekitten.com/400/252" />
              </div>
            </div>
            <!-- <ul class="preview-thumbnail nav nav-tabs">
              <li class="active">
                <a data-target="#pic-1" data-toggle="tab"
                  ><img src="http://placekitten.com/200/126"
                /></a>
              </li>
              <li>
                <a data-target="#pic-2" data-toggle="tab"
                  ><img src="http://placekitten.com/200/126"
                /></a>
              </li>
              <li>
                <a data-target="#pic-3" data-toggle="tab"
                  ><img src="http://placekitten.com/200/126"
                /></a>
              </li>
              <li>
                <a data-target="#pic-4" data-toggle="tab"
                  ><img src="http://placekitten.com/200/126"
                /></a>
              </li>
              <li>
                <a data-target="#pic-5" data-toggle="tab"
                  ><img src="http://placekitten.com/200/126"
                /></a>
              </li>
            </ul> -->
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{ product?.name }}</h3>
            <div class="rating">
              <div class="stars">
                <ngb-rating [rate]="product?.rate"></ngb-rating>
              </div>
              <span class="review-no"
                >{{ product?.reviews.length }} مراجعات</span
              >
            </div>
            <p class="product-description">
              {{ product?.description }}
            </p>
            <h4 class="price">
              السعر الحالي: <span>{{ product?.sellPrice }}</span>
            </h4>
            <!-- <p class="vote">
              <strong>91%</strong> of buyers enjoyed this product!
              <strong>(87 votes)</strong>
            </p> -->
            <!-- <h5 class="sizes">
              المقاسات المتاحة:
              <span class="size" data-toggle="tooltip" title="small">s</span>
              <span class="size" data-toggle="tooltip" title="medium">m</span>
              <span class="size" data-toggle="tooltip" title="large">l</span>
              <span class="size" data-toggle="tooltip" title="xtra large"
                >xl</span
              >
            </h5> -->
            <!-- <h5 class="colors">
              الالوان المتوفرة:
              <span
                class="color orange not-available"
                data-toggle="tooltip"
                title="Not In store"
              ></span>
              <span class="color green"></span>
              <span class="color blue"></span>
            </h5> -->
            <!-- <div class="action">
              <button class="add-to-cart btn btn-default" type="button">
                add to cart
              </button>
              <button class="like btn btn-default" type="button">
                <span class="fa fa-heart"></span>
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="order-data">
      <h4>اضافة البيانات</h4>
      <mat-stepper
        [orientation]="(stepperOrientation | async)!"
        [linear]="isLinear"
        #stepper
      >
        <mat-step [stepControl]="propertiesForm.control" completed="false">
          <ng-template matStepLabel>مواصفات المنتج</ng-template>
          <form
            class="product-properties"
            #propertiesForm="ngForm"
            (ngSubmit)="propertiesFormSubmit(propertiesForm.value)"
          >
            <div
              class="property"
              *ngFor="let property of product?.properties; index as index"
            >
              <mat-form-field appearance="fill">
                <mat-label>اللون</mat-label>
                <mat-select
                  disabled="true"
                  name="color{{ index }}"
                  [(ngModel)]="property.color"
                >
                  <mat-option [value]="property?.color" selected="true">
                    {{ property?.color }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>المقاس</mat-label>
                <mat-select
                  disabled="true"
                  name="size{{ index }}"
                  [(ngModel)]="property.size"
                >
                  <mat-option [value]="property?.size" selected="true">{{
                    property?.size
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>العدد</mat-label>
                <mat-select name="amount{{ index }}" ngModel>
                  <mat-option
                    *ngFor="
                      let item of fakeArray(property?.amount + 1);
                      index as index
                    "
                    [value]="index"
                    >{{ index }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <form>
              <mat-form-field appearance="fill">
                <mat-label>ادخل سعر البيع</mat-label>
                <input
                  matInput
                  type="number"
                  name="newPrice"
                  ngModel
                  #newPrice="ngModel"
                  required
                />
                <mat-error *ngIf="newPrice.hasError('required')">
                  هذا الحقل <strong>اجباري</strong>
                </mat-error>
              </mat-form-field>
            </form>
            <div>
              <button
                mat-button
                type="submit"
                (click)="returnNewPrice(newPrice)"
                class="bg-success"
                [disabled]="newPrice.invalid"
              >
                تاكيد طلب المنتجات
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step
          [stepControl]="customerDataForm.control"
          label="بيانات العميل"
          completed="false"
        >
          <form #customerDataForm="ngForm">
            <mat-form-field appearance="fill">
              <mat-label>اسم العميل</mat-label>
              <input
                type="text"
                matInput
                name="name"
                ngModel
                required
                #name="ngModel"
              />
              <mat-error *ngIf="name.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="custom-margin-center">
              <mat-label>رقم موبايل العميل</mat-label>
              <input
                type="tel"
                matInput
                name="phone"
                ngModel
                required
                minlength="11"
                maxlength="11"
                #phone="ngModel"
              />
              <mat-error *ngIf="phone.hasError('minlength' || 'maxlength')">
                رقم الهاتف يجب ان لا يقل او يزيد عن <strong>11 رقم</strong>
              </mat-error>
              <mat-error *ngIf="phone.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>اسم المحل</mat-label>
              <input
                type="text"
                matInput
                name="storeName"
                #storeName="ngModel"
                ngModel
              />
              <mat-error *ngIf="storeName.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>المحافظة</mat-label>
              <mat-select name="city" ngModel #city="ngModel" required>
                <mat-option
                  *ngFor="let governorate of governorates"
                  [value]="governorate"
                >
                  {{ governorate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="city.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="custom-margin-center">
              <mat-label>المدينة او المركز</mat-label>
              <input matInput name="area" ngModel #area="ngModel" required />
              <mat-error *ngIf="area.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>العنوان بالتفصيل</mat-label>
              <textarea
                matInput
                name="address"
                ngModel
                #address="ngModel"
                required
              ></textarea>

              <mat-error *ngIf="address.hasError('required')">
                هذا الحقل <strong>اجباري</strong>
              </mat-error>
            </mat-form-field>

            <div class="d-flex justify-content-between align-items-center">
              <button mat-button matStepperPrevious class="">رجوع</button>
              <button
                mat-button
                matStepperNext
                [disabled]="customerDataForm.invalid"
                (click)="customerDataFormSubmit(customerDataForm.value)"
                class="bg-success"
              >
                تاكيد البيانات
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>تاكيد الطلب</ng-template>
          <p class="confirm-order-p">تفاصيل حسابك</p>
          <div class="checkout">
            <h5 class="customized-product-name">{{ product?.name }}</h5>
            <div>
              <h5>الكمية</h5>
              <span>{{ totalQuantity }}</span>
            </div>
            <div>
              <h5>حساب كل المنتجات</h5>
              <span>{{ totalPrice - shippingPrice }}</span>
            </div>
            <div>
              <h5>مصاريف الشحن</h5>
              <span>{{ shippingPrice }}</span>
            </div>
            <div>
              <h5>الاجمالي</h5>
              <span>{{ totalPrice }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <button mat-button matStepperPrevious>رجوع</button>
            <button
              type="submit"
              class="bg-success"
              [disabled]="orderSent"
              (click)="orderFormSubmit()"
            >
              تاكيد ارسال الطلب
            </button>
            <button mat-button (click)="stepper.reset()" class="bg-danger">
              الغاء
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
<!-- <swal
  #errorRecord
  title="بيانات خاطئة"
  text=""
  icon="error"
  [showCancelButton]="false"
  [focusCancel]="false"
>
</swal>

<swal
  #orderSuccessRecord
  title="تم اضافة طلبك بنجاح"
  text=""
  icon="success"
  [showCancelButton]="false"
  [focusCancel]="false"
>
</swal> -->
