<div class="faq-questions body-padding">
  <div class="container">
    <h2 class="section-heading">الاسئلة الشائعة</h2>
    <div class="questions-container">
      <div>
        <div class="question">
          <h4>كيف يمكني سحب ارباحي؟</h4>
          <p>
            يكنك تقديم طلب سحب من خلال خانة الرصيد في لوحة التحكم الخاصة بك ولكن
            يجب ان يكون سحب الأموال بحد أدنى 100 جنية مصري ولا يوجد أحد أقصى.
          </p>
        </div>
        <div class="question">
          <h4>متي يتم اضافة الاموال بعد تقديم طلب السحب؟</h4>
          <p>
            لا يتم إضافة الأموال بشكل فعلي قبل مرور 14 يوم من عملية البيع وفقا
            لشروط جمعية حماية المستهلك المصرية.
          </p>
        </div>
        <div class="question">
          <h4>ماذا يحدث عند رفض العميل للإستلام؟</h4>
          <p>عند رفض العميل للإستلام يتحمل المسوق تكلفة الشحن.</p>
        </div>
        <div class="question">
          <h4>ماذا يحدث عند طلب العميل الإستبدال؟</h4>
          <p>عند طلب العميل الإستبدال يتحمل العميل تكلفة الشحنز.</p>
        </div>
        <div class="question">
          <h4>ماذا يحدث في حالة حدوث خطأ في الأوردر أو عيب صناعة؟</h4>
          <p>
            في حالة حدوث خطأ في الأوردر أو عيب صناعة تتحمل الشركة تكلفة الشحن
            بالكامل واستبدال الأوردر بآخر بدون مشاكل.
          </p>
        </div>
      </div>
      <img src="assets/images/sales-website/faq.svg" alt="" />
    </div>
  </div>
</div>
