<div class="product-card-container" routerLink="/{{userRole?userRole: 'sales-website'}}/product-details/{{data?._id}}">
  <div class="card">
    <div class="top-div">
      <div class="border">
        <img [src]="data?.image[0]">
      </div>
      <span>{{data?.sellPrice}} E&#xa3;</span>
    </div>
    <div class="bottom-div">
      <h3>{{data?.name}}</h3>
      <p>{{data?.category}}</p>
    </div>
    <div class="last-section">
      <div class="buttons">
        <button *ngIf="userRole == 'buyer'" routerLink="/buyer/add-order/{{ data._id }}">طلب شراء</button>
        <button routerLink="/{{userRole?userRole: 'sales-website'}}/product-details/{{data?._id}}">عرض التفاصيل</button>
      </div>
    </div>
  </div>

</div>