<app-waiting *ngIf="loading"></app-waiting>

<div class="dashboard" *ngIf="!loading">
  <div class="all-statistics py-4 mb-4">
    <div class="container">
      <div class="row" style="row-gap: 30px">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title> {{ allProducts }} </mat-card-title>
                  <mat-card-subtitle> كل منتجاتك </mat-card-subtitle>
                </div>
                <div>
                  <i class="fa fa-users text-success"></i>
                </div>
              </div>
              <mat-card-actions class="bg-success p-3">
                <a
                  routerLink="/seller/all-private-products"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title>{{ totalStock }}</mat-card-title>
                  <mat-card-subtitle>عدد القطع</mat-card-subtitle>
                </div>
                <div>
                  <i class="fa fa-bolt text-danger"></i>
                </div>
              </div>
              <mat-card-actions class="bg-danger p-3">
                <a
                  routerLink="/seller/all-private-products"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title> {{ successProducts }} </mat-card-title>
                  <mat-card-subtitle> منتجاتك المقبولة </mat-card-subtitle>
                </div>
                <div>
                  <i class="fa fa-database cornflowerblue"></i>
                </div>
              </div>
              <mat-card-actions class="cornflowerblue p-3">
                <a
                  routerLink="/seller/all-private-orders"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title> {{ canceledProducts }} </mat-card-title>
                  <mat-card-subtitle> منتجاتك المرفوضة </mat-card-subtitle>
                </div>
                <div>
                  <i class="fa fa-dollar darkslateblue"></i>
                </div>
              </div>
              <mat-card-actions class="darkslateblue p-3">
                <a
                  routerLink="/seller/all-private-orders"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title>{{ allOrders }}</mat-card-title>
                  <mat-card-subtitle>
                    عدد الطلبات علي منتجاتك</mat-card-subtitle
                  >
                </div>
                <div>
                  <i class="fa fa-bolt text-primary"></i>
                </div>
              </div>
              <mat-card-actions class="bg-primary p-3">
                <a
                  routerLink="/seller/all-orders"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title>{{ ordersFinished }}</mat-card-title>
                  <mat-card-subtitle> طلبات ناجحة</mat-card-subtitle>
                </div>
                <div>
                  <i class="fa fa-bolt text-success"></i>
                </div>
              </div>
              <mat-card-actions class="bg-success p-3">
                <a
                  routerLink="/seller/all-orders"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div class="stat shadow rounded">
            <mat-card class="stat-card">
              <div
                class="content p-2 d-flex justify-content-between align-items-baseline"
              >
                <div>
                  <mat-card-title> {{ allBalance }} </mat-card-title>
                  <mat-card-subtitle> اجمالي رصيدك </mat-card-subtitle>
                </div>
                <div>
                  <i class="fa fa-bolt text-danger"></i>
                </div>
              </div>
              <mat-card-actions class="bg-danger p-3">
                <a
                  routerLink="/seller/balance"
                  class="text-white d-flex justify-content-between align-items-center"
                >
                  <span>مشاهدة التفاصيل</span>
                  <i class="fa fa-arrow-left"></i>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="all-users-chart data my-5">
    <div class="container">
      <h2>
        <i class="fa fa-info-circle"></i>
        احصائيات كل منتجاتك
      </h2>
      <div class="Users-chart">
        <app-merchant-all-products-chart></app-merchant-all-products-chart>
      </div>
    </div>
  </div>

  <div class="products data my-5">
    <div class="container">
      <h2>
        <i class="fa fa-info-circle"></i>
        احصائيات منتجاتك المقبولة
      </h2>
      <div class="products-chart">
        <app-merchant-all-success-products-chart></app-merchant-all-success-products-chart>
      </div>
    </div>
  </div>

  <div class="blocked-users data my-5">
    <div class="container">
      <h2>
        <i class="fa fa-info-circle"></i>

        احصائيات منتجاتك المرفوضة
      </h2>
      <div class="blocked-users-chart">
        <app-merchant-all-rejected-products-chart></app-merchant-all-rejected-products-chart>
      </div>
    </div>
  </div>

  <div class="rejected-products data my-5">
    <div class="container">
      <h2>
        <i class="fa fa-info-circle"></i>

        احصائيات عدد الطلبات علي منتجاتك
      </h2>
      <div class="rejected-products-chart">
        <app-merchant-all-orders-chart></app-merchant-all-orders-chart>
      </div>
    </div>
  </div>

  <!-- <div class="rejected-products data my-5">
    <div class="container">
      <h2>
        <i class="fa fa-info-circle"></i>
        احصائيات الرصيد
      </h2>
      <div class="rejected-products-chart">
        <app-merchant-balance-chart></app-merchant-balance-chart>
      </div>
    </div>
  </div> -->
</div>
