<footer class="py-3">
  <div class="container">
    <div class="footer-container">
      <div>
        <h2 class="section-sub-heading text-end">ايزي موني</h2>
        <p>
          إيزي ماني هي شركة مصرية قام بتأسيسها بعض الشباب المصريين للمساعدة على
          تسهيل التجارة الإلكترونية في مصر ومنح الجميع فرصة للتجارة عبر الإنترنت
          عن طريق توفير سلع بسعر مناسب ومساعدتهم في إيصالها لعملائهم في أسرع وقت
          وأفضل جودة.
        </p>
      </div>
      <div class="links">
        <h2 class="section-sub-heading text-end">تصفح اسرع</h2>
        <ul>
          <li routerLink="/sales-website/about-us">من نحن</li>
          <br />
          <li routerLink="/sales-website/contact-us">تواصل معنا</li>
          <br />
          <li routerLink="/sales-website/terms-conditions">سياسة الخصوصية</li>
          <br />
          <li routerLink="/sales-website/faq-questions">الأسئلة الشائعة</li>
        </ul>
      </div>
      <div class="contacts">
        <h2 class="section-sub-heading text-end">تواصل معنا</h2>
        <div class="social-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="contacts-methods">
          البريد الالكتروني:
          <a href="mailto: eazymoney@gmail.com">eazymoney@gmail.com</a>
          <br />
          رقم التليفون:
          <a href="tel: 010000000">01000000000</a>
        </div>
      </div>
    </div>
    <hr />
    <p class="copy section-sub-heading pt-3">
      جميع الحقوق محفوظة &copy; <span>ايزي موني</span>
    </p>
  </div>
</footer>
