h2 {
  font-size: 32px;
  color: #056eb8;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 20px;
  border-bottom: 3px solid #056eb8;
  padding-bottom: 8px;
}
.mat-elevation-z8 {
  min-width: 600px;
}
table {
  width: 100%;
  margin-bottom: 0px !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
}

:host ::ng-deep tr.mat-row {
  cursor: pointer;
}

:host ::ng-deep tr.mat-row:hover {
  background-color: #eee;
}

.modal-header .btn-close {
  color: white;
  background: transparent !important;
  padding: 0 !important;
}

:host ::ng-deep .mat-sort-header-arrow {
  color: white;
}

:host ::ng-deep thead tr {
  background-color: #056eb8;
  height: auto;
}
:host ::ng-deep thead tr th {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 25px 0px !important;
  text-align: center;
  white-space: nowrap;
}

:host ::ng-deep th.mat-header-cell:last-of-type,
:host ::ng-deep td.mat-cell:last-of-type,
:host ::ng-deep td.mat-footer-cell:last-of-type,
:host ::ng-deep th.mat-header-cell:first-of-type,
:host ::ng-deep td.mat-cell:first-of-type,
:host ::ng-deep td.mat-footer-cell:first-of-type {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

:host ::ng-deep th.mat-header-cell.cdk-header-cell {
  text-align: center;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

:host ::ng-deep td.mat-cell {
  color: #6c6c6c;
  line-height: 60px;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  white-space: nowrap;
  padding: 10px;
}

.mat-form-field.filter {
  width: 100%;
  min-width: 600px;
}

.mat-paginator {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

td button {
  background: transparent;
  border: none;
  font-size: 18px;
  outline: none;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999;
}

.modal-header {
  background-color: #056eb8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.modal-header button {
  background: transparent;
  margin: 0px;
  border: none;
  color: #fff;
  font-size: 22px;
}

.modal-header h4 {
  margin: 0px;
  font-size: 22px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
}

::ng-deep .modal-body .mat-form-field {
  margin-bottom: 10px;
  margin-top: 20px;
}

::ng-deep .mat-paginator-range-label {
  direction: ltr;
}
