<div class="terms-conditions position-relative">
  <div class="overflow"></div>
  <div class="overflow2"></div>
  <div class="container">
    <div class="info shadow border-1 rounded bg-body">
      <div class="">
        <h2>
          <i class="fa fa-list-check"></i>
          الشروط و الاحكام
        </h2>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-check"></i>
                <span> اﺳﺘﺨﺪاﻡ اﻟﻤﻌﻠﻮﻣﺎﺕ اﻟﺸﺨﺼﻴﺔ</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>
              نقوم باستخدام المعلومات الشخصية الخاصة بك لعدة اغراض ومنها علي
              سبيل المثال، السماح لك بالدخول واستخدام الموقع، تقديم خدمة معينة
              لك، ارسال تحديثات وأخبار، إعداد إحصائيات وتقارير عن مدى شعبية
              الموقع لدى مستخدمي الإنترنت، تحسين أداء الموقع الالكتروني وخدماته
              وغيرها من الاستخدامات الأخرى
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-check"></i>
                <span> جمع المعلومات الشخصية</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>
              نقوم بجمع بياناتك الشخصية بطريقة مباشرة من خلالك، ويتم جمع هذه
              البيانات من خلال المعلومات التي تقدمها بنفسك بغرض التسجيل في أيًا
              من خدمات الموقع الإلكتروني، وتشمل هذه البيانات على سبيل المثال
              الاسم الشخصي، الجنس، تاريخ الميلاد، الوظيفة، العنوان البريدي،
              البريد الإلكتروني .
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-check"></i>
                <span> مشاركة البيانات الشخصية </span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>
              لن يتم بمشاركة بياناتك الشخصية مع أطراف أخرى لأغراض تسويقية الا عن
              طريق التواصل معك اذا كان هنالك طلب لاستخدام بياناتك الشخصية غير
              ذلك لن يتم مشاركتها معا اي شركات او اطراف اخري .
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i class="fa fa-check"></i>
                <span> سياسة نظام الشراكة</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <p>
              نظام الشراكة المقدم من شركتنا يخضع لمتابعة دورية وتدقيق لجميع
              الحسابات فاذا تم ملاحظة اي حركة غير مناسبة او غير اعتيادية سوف يتم
              ايقاف الحساب والتواصل معا صاحب الحساب لطلب تفسير اكثر .
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
